/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    align-items: center;

    position: relative;

    background: beige;
    
  }

  img{
    height: 30px;
    width: 50px;
  }

  button{
    border-radius: 5px;
    background: black;

    cursor: pointer;
    border: wheat;

    margin-top: 20px;
  }


  .gameBoard{
    display: grid;
    grid-template:  repeat(3, 1fr) / repeat(3, 1fr);

   
    margin-top: 100px;



   

    >div{
        display: flex;
      

        font-family: "Sixtyfour Convergence", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: x-large;
        
      


       
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 150px;

    }

  }


  .gameBoard .left{
    border-right:  2px solid black;
  }

  .gameBoard .right{
    border-left: 2px solid black ;
  }

  .gameBoard .bottom{
    border-bottom: 2px solid black ;
  }


  #roundMessage{
    margin-top: 80px;
  }

  /* .win{
    text-decoration: line-through;
  } */


  .winningCell{
    background-color: black;
  }


  #formModal{
    display: flex;
    flex-direction: column;

    background-color: aqua;

    justify-content: space-evenly;

    height: 300px;
    width: 350px;

    border-radius: 10px;
    z-index: 100;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }


  .inputDivs{
    display: flex;
    flex-direction: column;

  }

  .startupModal {
    border: none;
  }
  